footer{
  background-image:url(../../dist/img/bg-footer.jpg);
  background-size:cover;
  background-position:top center;
  .nav-link{
    color:$white;
    font-size:18px;
    opacity:.8;
    padding:0;
    &:hover{
      opacity:1;
    }
  }
}