.header{
  background-image:url("/src/img/background-header.jpg");
  background-size:cover;
  background-position:top center;
  &__content{
    padding-top:100px;
  }
}
.social-icons{
  &__item{
    opacity:1;
    transition:opacity 100ms linear 100ms;
    &:hover{
      opacity:.7;
    }
  }
}