@media screen and (min-width:1400px) {
  .wr{
    &_text{
      padding-top:4em;
      padding-bottom:4em;
      h1{
        font-size:2.5em;
      }
      p{
        font-size:1.3rem;
        margin-top:3em;
      }
    }
  }
  .slogan{
    &__item{
      width:70%;
    }
    &__button{
      padding-left:1.75rem;
      padding-right:1.75rem;
    }
  }
}
@media screen and (max-width:1399px) {
  .wr{
    &_text{
      padding-top:3em;
      padding-bottom:3em;
    }
  }
  .slogan{
    &__item{
      width:70%;
    }
  }
}
@media screen and (max-width:992px) {
  .wr{
    &_text{
      padding-top:1em;
      padding-bottom:1em;

      h1{
        font-size:1.5em;
      }
      p{
        font-size:.9em;
        margin-top:3em;
      }
    }
  }
  .slogan{
    &__item{
      width:75%;
    }
  }
  .contacts__item_email{
    font-size:.8rem;
  }
  .video{
    width:80%;
  }
}
@media screen and (max-width:768px) {
  header .logo img{
    height:35px;
  }
  .b_info, .b_maps{
    &__item{
      width:100%;
    }
  }
  .card.tube{
    flex:auto;
  }
  .gallery{
    &__works{
      width:85%;
    }
  }
  .recommendations{
    &__video{
      margin:0 auto;
    }
  }
  .scheme{
    padding-left:2rem;
    padding-right:2rem;
    img{
      width:100%;
    }
  }
  .video{
    width:87%;
    &__title{
      padding:20px 30px;
    }
  }
  .wr{
    &_text{
      padding-top:0;
      padding-bottom:0;
    }
  }
}
@media screen and (max-width:590px) {
  .wr{
    &_text{
      h1{
        font-size:1.1em;
      }
      p{
        font-size:.7em;
        line-height:normal;
      }
    }
  }
  .slogan{
    &__item{
      width:95%;
    }
    &__button{
      font-size:.7rem;
    }
  }
}
@media screen and (max-width:576px) {
  .wr{
    &_contacts{
      order:-1;
    }
  }
}
@media screen and (max-width:540px) {
  .brand__hit{
    width:100px;
  }
}
@media screen and (max-width:480px) {
  .brand{
    &__hit{
      display:none;
      width:70px;
    }
    .table{
      font-size:15px;
      td{
        padding:.25rem !important;
      }
    }
  }
}
/******* live templates *******/

/******* end_live templates *******/