.slogan h1{
  color:pink;
}
/*Main*/

.answers{
  ol{
    /*color:$orange;*/
    color:$blue;
    font-size:1.25rem;
  }
  &__text{
    color:$gray;
    font-size:1rem;
  }
}
.auto{
  &__title{
    font-weight:bold;
    text-transform:capitalize;
  }
  &__price{
    color:$orange;
  }
}
.autoplay{
  &_passenger{
    width:80%;
    margin:0 auto;
  }
}
.b_info, .b_maps{
  &__item{
    width:48%;
  }
}
.brand{
  &__img{
    box-shadow:5px 0px 16px rgba(0, 0, 0, 0.2);
  }
  &__title{
    color:$blue;
    text-transform:capitalize;
  }
  tr.border-bottom td{
    border-bottom:1px solid #dee2e6;
  }
}
.card{
  &.fitting{
    img{
      width:50%;
    }
    .card-body{
      display:flex;
      align-items:center;
      justify-content:center;
    }
  }
  &:hover{
    box-shadow:0 0 20px 1px rgba(0, 0, 0, .5);
  }
  &-header, &-footer{
    color:$white;
    padding-left:.25rem;
    padding-right:.25rem;
  }
  &-header{
    background-color:$blue;
    &_small{
      font-size:16px;
    }
  }
}
.close span{
  color:$white;
}
.contacts{
  ifrime{
    border:5px solid $orange;
  }
  a{
    color:white;
  }
}
.icon{
  &_info{
    background:url('../../dist/img/icons/info.png');
    cursor:pointer;
    display:inline-block;
    height:20px;
    opacity:.4;
    position:relative;
    top:4px;
    left:15px;
    width:20px;
    &:hover{
      opacity:1;
    }
  }
}
.gallery{
  &__title{
    color:$orange;
  }
  &__works{
    width:90%;
    margin:0 auto;
  }
  .slick-prev:before, .slick-next:before{
    color:$blue;
    font-size:30px;
  }
  .slick-prev{
    left:-35px;
  }
}
.kit{
  max-width:1200px;
  margin:0 auto;
  padding:0 15px;
}
.logo{
  a:hover{
    cursor:pointer;
  }
}
/*.marker{
  &__title{
    font-size:1.4rem;
    margin-bottom:1rem;
  }
}*/
.menu{
  nav{
    font-size:15px;
    position:relative;
  }
  .cl-effect-17{
    a{
      font-size:15px;
      text-transform:none;
      &.active{
        &:before{
          opacity:0;
        }
        &:after{
          opacity:1;
          -webkit-transform:translateY(0px);
          -ms-transform:translateY(0px);
          transform:translateY(0px);
        }
      }
      &:before{
        color:$orange;
        text-transform:none;
      }
      &:after{
        background:$orange;
      }
    }
  }
}
.modal{
  &-header{
    background-color:$orange;
    color:$white;
  }
  &-body{
    ol{
      color:$orange;
      span{
        color:$gray;
      }
    }
  }
  button.close:focus{
    outline:0;
  }
}
.navbar_mob{
  justify-content:space-between;
  margin:0.7rem 1rem;
  padding:0;
  .navbar-toggler{
    border:none;
    border-radius:0;
    &-icon{
      width:1.5em;
      height:1.5em;
    }
  }
  .navbar-brand{
    margin:0;
    padding:0;
    img{
      height:47px;
    }
  }
}
.passenger{
  margin:0 auto;
  max-width:1200px;
  overflow:hidden;
}
.recommendations{
  &__video{
    margin:0 auto 60px;
  }
}
.scheme{
  text-align:center;
}
.slogan{
  background:url("../../dist/img/car.jpg") center;
  background-size:cover;
  color:white;
  position:relative;
  &__button{
    &.btn-warn{
      background-color:$orange;
      border:none;
      color:white !important;
      &:hover, &:active{
        background-color:$white;
        /*border-color:$orange;*/
        color:$orange !important;
      }
    }
  }
  &__nav{
    max-width:1200px;
    z-index:3;
  }
  .nav-link{
    box-sizing:border-box;
    font-size:1em;
    margin:15px;
    transition:border-bottom .5s linear;
    text-transform:none;
  }
  .cl-effect-17 a{
    color:$orange;
    &.active{
      &::after{
        opacity:1;
        -webkit-transform:translateY(0px);
        -ms-transform:translateY(0px);
        transform:translateY(0px);
      }
      &::before{
        opacity:0;
      }
    }
  }
  nav{
    font-size:15px;
    position:relative;
  }
  &__item{
    width:50%;
  }
  &:after{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background:black;
    opacity:.5;
  }
}
.video{
  background-color:$gray;
  color:$white;
  width:60%;
  &__title{
    padding:20px 50px;
    text-align:center;
  }
  &__frame{
    height:0;
    width:100%;
    padding-bottom:56.25%;
    position:relative;
    iframe{
      height:100%;
      position:absolute;
      width:100%;
    }
  }
}
.wr{
  &_nav{
    position:absolute;
    top:0;
    right:0;
    width:100%;
    z-index:10;
    background-color:transparent;
    transition:background-color .1s linear .1s;
  }
  &_text{
    position:relative;
    z-index:2;
  }
}
/******* Атомарные стили *******/

._no-shadow-hover:hover{
  box-shadow:none;
}
._no-pointer-hover:hover{
  cursor:auto;
}
/******* end_Атомарные стили *******/

.w_90{
  width:90%;
  margin:0 auto;
}
/* Effect 17: move up fade out, push border */
.cl-effect-17 a{
  color:#10649b;
  text-shadow:none;
  padding:10px 0;
}
.cl-effect-17 a::before{
  color:#fff;
  text-shadow:0 0 1px rgba(255, 255, 255, 0.3);
  content:attr(data-hover);
  position:absolute;
  -webkit-transition:-webkit-transform 0.3s, opacity 0.3s;
  -moz-transition:-moz-transform 0.3s, opacity 0.3s;
  transition:transform 0.3s, opacity 0.3s;
  pointer-events:none;
}
.cl-effect-17 a::after{
  content:'';
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  height:2px;
  background:#fff;
  opacity:0;
  -webkit-transform:translateY(5px);
  -moz-transform:translateY(5px);
  transform:translateY(5px);
  -webkit-transition:-webkit-transform 0.3s, opacity 0.3s;
  -moz-transition:-moz-transform 0.3s, opacity 0.3s;
  transition:transform 0.3s, opacity 0.3s;
  pointer-events:none;
}
.cl-effect-17 a:hover::before,
.cl-effect-17 a:focus::before{
  opacity:0;
  -webkit-transform:translateY(-2px);
  -moz-transform:translateY(-2px);
  transform:translateY(-2px);
}
.cl-effect-17 a:hover::after,
.cl-effect-17 a:focus::after{
  opacity:1;
  -webkit-transform:translateY(0px);
  -moz-transform:translateY(0px);
  transform:translateY(0px);
}
