doctype html
html(lang="ru")
    include ./includes/head.jade
    body
        object(type="image/svg+xml", data="img/symbol-defs.svg")
            img(src="img/symbol-defs.svg", alt="image format png")
        include ./includes/nav.jade
        div.wr_page
            include ./includes/header.jade
            include ./includes/main.jade
        include ./includes/scripts.jade

