._absolute{
  position:absolute;
  top:0;
  left:0;
}
._abs-left{
  display:block;
  height:100%;
  left:0;
  position:absolute;
  top:0;
}
._hide{
  display:none;
}
._menu{
  top:8px;
}
._relative{
  position:relative;
}
._hide{
  display:none;
}

/******* backgrounds *******/

/*._bg-mark-p{
  background: url("../img/avatar/mark-p.jpg") no-repeat center center;
  background-position:cover;
}*/

/******* end_backgrounds *******/




