a{
  color:inherit;
  cursor:pointer;
  text-decoration:none;
  outline:none;
  &:hover, &:active{
    text-decoration:none;
    color:inherit;
  }
}
button{
  &:active, &:focus{
    outline:none;
  }
}
html{
  height:100%;
}
body{
  background-color:$bg-second;
  color:$text-color-first;
  display:flex;
  font-family:$font-family-first;
  font-size:$font-size-base;
  flex-direction:column;
  min-height:600px;
  height:100%;
}
header, main{
  margin-left:130px;
}
main{
  flex:1 0 auto;
}

nav{
  flex: 1;
}







