@media screen and (max-width:1200px) {
  .input_search{
    overflow:hidden;
  }
  .title{
    &_light{
      font-size:$font-size-small;
    }
    &_activity{
      font-size:$font-size-small;
      b{
        display:block;
      }
    }
  }
}
@media screen and (max-width:992px) {
  header, main{
    margin-left:100px;
  }
  .icon{
    height:35px;
    width:35px;
  }
  .main__item{
    &:first-child{
      margin-right:0;
    }
    &:last-child{
      display:none;
    }
  }
  .title{
    &_date{
      font-size:12px;
    }
    &_info{
      font-size:12px;
    }
    &_nav{
      display:none;
    }
    &_tabs{
      display:none;
    }
    &_subtask{
      font-size:16px;
    }
  }
  .tools{
    width:100px;
  }
  .wr_subtask{
    &__item{
      &:first-child{
        margin-bottom:10px;
      }
      width:100%;
    }
  }
}
@media screen and (max-width:768px) {
  .nice-select{
    height:38px;
    line-height:35px;
    padding-left:40px;
    padding-right:30px;
    .current{
      font-size:12px;
    }
    &:before{
      left:15px;
    }
    &:after{
      right:15px;
    }
  }
}
@media screen and (max-width:540px) {
}