.nn-b-avatar{
  border-radius:50%;
  margin-right:10px;
  height:40px;
  width:40px;
  overflow:hidden;
  &_team{
    height:30px;
    width:30px;
  }
  img{
    height:100%;
    display:block;
    width:100%;
  }
}
.nn-b-col-between{
  align-items:center;
  display:flex;
  justify-content:space-between;
  &__item{
    align-items:center;
    justify-content:flex-end;
    display:flex;
    &:first-child{
      justify-content:flex-start;
    }
  }
}
.nn-b-icon{
  align-items:center;
  background-color:$icon-color-active;
  border-radius:50%;
  box-sizing:border-box;
  display:flex;
  flex-shrink:0;
  justify-content:center;
  height:40px;
  margin-right:7px;
  width:40px;
  &_header{
    padding:0 13px;
    transform:scale(-1, 1);
  }
  &_info{
    align-items:center;
    background-color:transparent;
    display:flex;
    justify-content:center;
    margin-right:8px;
    width:auto;
    svg{
      width:12px;
    }
  }
  &_online{
    background-color:transparent;
    border:1px solid #a4a4a4;
    border-radius:50%;
    color:#a7a7a7;
    font-size:12px;
    height:30px;
    margin-right:0;
    width:30px;
  }
  &_search{
    color:$text-color-second;
    font-size:$font-size-larger;
    font-weight:bold;
    margin-right:0;
    margin-left:10px;
    text-align:center;
    &:hover{
      background-color:#adadad;
      color:#fff;
      cursor:pointer;
    }
    span{
      display:block;
      margin:0 auto;
    }
  }
  &_select{
    background-color:$icon-color-online;
    &:after{
      border-bottom:2px solid $bg-first;
      border-right:2px solid $bg-first;
      content:'';
      display:block;
      height:5px;
      margin-top:-4px;
      pointer-events:none;
      position:absolute;
      right:18px;
      top:50%;
      transform-origin:66% 66%;
      transform:rotate(45deg);
      transition:all 0.15s ease-in-out;
      width:5px;
    }
  }
  &_subtask{
    align-items:center;
    background-color:white;
    border:1px solid #a4a4a4;
    border-radius:50%;
    color:#a6a6a6;
    display:flex;
    justify-content:center;
    height:30px;
    line-height:30px;
    padding:0;
    width:30px;
    &:last-child{
      margin-right:0;
    }
    svg{
      fill:#a6a6a6;
      width:15px;
    }
    &:hover{
      background-color:$icon-color-active;
      border-color:transparent;
      color:$text-color-second;
      &:last-child{
        background-color:transparent;
        border:1px solid #a4a4a4;
        color:#a6a6a6;
      }
      svg{
        fill:$text-color-second;
      }
    }
  }
  &_tabs{
    background-color:transparent;
    margin-right:12px;
  }
  .icon{
    &_header{
      fill:$bg-first;
      width:100%;
      height:100%;
    }
  }
}
.nn-b-img{
  border-radius:50%;
  box-sizing:border-box;
  overflow:hidden;
  img{
    display:block;
    height:100%;
    width:100%;
  }
}
.nn-b-info{
  align-items:center;
  border:1px solid $border-color-third;
  border-radius:15px;
  display:flex;
  flex-shrink:0;
  font-size:$font-size-small;
  font-weight:bold;
  height:30px;
  line-height:30px;
  margin-left:8px;
  margin-right:8px;
  padding-left:20px;
  padding-right:20px;
  text-transform:uppercase;
  &__item{
    display:flex;
  }
}
.nn-b-points{
  display:flex;
  justify-content:center;
  margin:0 auto;
  &__item{
    background-color:#595959;
    border-radius:50%;
    height:5px;
    margin:12px 3px;
    width:5px;
  }
}
.nn-b-search{
  align-items:center;
  display:flex;
  justify-content:space-between;
  padding:20px 30px;
}
.nn-b-tabs{
  align-items:center;
  display:flex;
  font-size:$font-size-large;
  justify-content:space-between;
  &__item{
    box-sizing:border-box;
    &:last-child{
      padding-left:30px;
      width:415px;
    }
  }
}
.nn-button{
  background-color:transparent;
  border:1px solid #c8c8c8;
  border-radius:20px;
  padding:10px 20px;
  transition:all ease .3s;
  &:hover{
    background-color:$bg-second-dark;
    color:$text-color-second;
  }
  &:hover, &:active, &:focus{
    outline:none;
  }
}
.nn-card{
  align-items:center;
  display:flex;
  &_nav{
    flex-flow:row wrap;
    justify-content:center;
    padding:20px 30px;
  }
  &_search{
    .current{
      &:after{
        content:" (descending)";
        font-weight:normal }
    }
    .nice-select{
      font-size:$font-size-base;
      padding-left:20px;
      text-transform:inherit;
      &:before{
        display:none;
      }
    }
  }
  &_sidebar{
    border-bottom:1px solid #eaeaea;
    padding:25px 30px;
  }
  &__item{
    &_nav{
      text-align:center;
      width:100%;
    }
    &_search{
      order:2;
    }
  }
}
.nn-header{
  border-bottom:1px solid $border-color;
  display:flex;
  justify-content:space-between;
  padding:30px;
}
.nn-marker{
  background-color:#c5c5c5;
  border:1px solid $bg-first;
  border-radius:50%;
  content:'';
  display:block;
  height:10px;
  left:0;
  position:absolute;
  top:0;
  width:10px;
  &_online{
    background-color:$icon-color-online;
  }
}
.nn-nav{
  color:$text-color-third;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height:100%;
  &__item{
    width:100%;
    &_bottom{
      align-self:flex-end;
    }
  }
}
.nn-projects{
  display:flex;
  flex-direction:column;
}
.nn-subtask{
  display:flex;
  flex-direction:column;
  &__item{
    border-bottom:1px solid #e7e9ea;
    padding:20px 30px;
    &:last-child{
      border-bottom:none;
    }
  }
}
.nn-sidebar{
  display:flex;
  flex-direction:column;
  &__item{
    &:last-child{
      width:385px;
    }
  }
}
.nn-tabs{
  display:flex;
  &__item{
    background-color:$bg-second-light;
    border-bottom:1px solid $border-color;
    border-right:1px solid $border-color;
    box-sizing:border-box;
    padding:20px 30px;
    &.active{
      background-color:$bg-first;
      border-bottom:none;
    }
  }
}
.uberAccordion .nn-task.active .nn-task__title{
  border-bottom:1px solid #c2c5c7;
}
.uberAccordion{
  margin:0;
  .nn-task{
    border-top:1px solid #eaeaea;
    cursor:pointer;
    display:flex;
    flex-direction:column;
    &.active{
      &__title{
        background-color:transparent;
      }
    }
    &__title{
      background-color:transparent;
      padding:20px 30px;
    }
    &__content{
      padding:0;
      background:#f8f8f8 url("../img/bg-subtask.jpg");
    }
  }
}
.nn-txt{
  background-color:$bg-second-dark;
  color:$text-color-second;
  align-items:center;
  border-radius:50%;
  display:flex;
  font-size:$font-size-smaller;
  font-weight:bold;
  justify-content:center;
  position:absolute;
  right:20px;
  text-align:center;
  top:-10px;
  width:30px;
  height:30px;
  &_menu{
    right:20px;
    top:7px;
  }
  &_tabs{
    flex-shrink:0;
    left:5px;
    position:relative;
    top:-13px;
  }
  &_attention{
    background-color:$icon-color-active;
  }
}






