@media screen and (min-width:993px) {
  .icon{
    &:hover{
      fill:$bg-third;
    }
  }
  .nn-b_cards__item_services{
    &:hover{
      cursor:pointer;
      transform:scale(1.1);
    }
  }
  .nn-button{
    &:hover, &:active{
      background-color:$bg-fourth;
    }
  }
  .nn-nav__item{
    &:hover{
      background-color:$bg-second;
      color:$text-color-btn-first;
    }
  }
}
@media screen and (max-width:992px) {
  body{
    font-size:$font-size-larger;
  }
  .nn-b_cards{
    display:flex;
    justify-content:space-around;
    &__item{
      margin-bottom:35px;
      &:nth-child(2n){
        padding:0;
      }
      width:100%;
      &_team{
        width:40%;
        margin-right:0;
      }
    }
  }
  .nn-card{
    margin:0 auto;
    &__item{
      padding-right:0;
      &:nth-child(2n){
        padding-left:0;
      }
    }
  }
  .nn-clients{
    margin-top:35px;
    margin-bottom:50px;
    &__item{
      width:33%;
    }
  }
  .nn-container{
    padding-left:50px;
    padding-right:50px;
  }
  .nn-header{
    padding-left:50px;
    padding-right:50px;
  }
  .nn-mobile-nav__button{
    display:inline-block;
    position:absolute;
    right:50px;
    top:15px;
  }
  .nn-nav{
    display:none;
  }
  .nn-social{
    margin-right:0;
    width:250px;
    &__item{
      justify-content:flex-end;
      display:flex;
      .icon{
        height:35px;
        width:35px;
      }
    }
  }
  .nn-title_line{
    left:50px;
  }
}
@media screen and (max-width:768px) {
  .nn-b_cards{
    margin-bottom:35px;
    margin-top:45px;
    &__item{
      width:100%;
    }
  }
  .nn-card{
    justify-content:center;
    &__item_team{
      width:50%;
      &:nth-child(n){
        justify-content:flex-end;
      }
      &:nth-child(2n){
        justify-content:flex-start;
      }
    }
  }
  .nn-clients__item{
    width:50%;
    svg{
      width:100%;
    }
    padding:20px 15px;
  }
  .nn-social{
    &__item{
      width:100%;
    }
  }
}
@media screen and (max-width:540px) {
  .nn-clients{
    justify-content:space-between;
    &__item{
      padding:0 0 30px;
      width:100%;
    }
  }
  .nn-footer{
    flex-wrap:wrap;
    &__item{
      width:100%;
      &_social{
        justify-content:flex-start;
      }
    }
  }
  .b_services{
    .nn-b_img{
      display:none;
    }
    h3{
      color:$text-color-btn-second;
      margin-bottom:20px;
    }
  }
  .nn-social{
    margin-top:35px;
    &__item{
      justify-content:flex-start;
    }
    .icon{
      &-social-2{
        height:32px;
        transform:translateY(3px);
      }
    }
  }
}

