@media screen and (max-width:1200px) {
}
@media screen and (max-width:992px) {
  .active .nn-card:before{
    height:70px !important;
  }
  .nn-card_nav{
    padding:10px 15px;
  }
  .title_nav{
    display:none;
  }
}
@media screen and (max-width:768px) {
}
@media screen and (max-width:540px) {
}