@media screen and (max-width:1440px) {
  .nn-card_sidebar{
    padding:20px 20px;
  }
  .nn-sidebar__item:last-child{
    width:290px;
  }
}
@media screen and (max-width:1200px) {
  .nn-b-search{
    font-size:$font-size-small;
    padding:15px;
  }
  .nn-card{
    &_search .nice-select{
      font-size:$font-size-small;
      padding-left:10px;
      padding-right:25px;
      &:after{
        right:10px;
      }
      .current:after{
        display:none;
      }
    }
    &_sidebar{
      padding:10px;
    }
  }
  .nn-b-tabs{
    font-size:$font-size-base;
    &__item:last-child{
      display:flex;
      justify-content:flex-end;
      padding-right:30px;
      width:325px;
    }
  }
  .nn-sidebar__item:last-child{
    width:250px;
  }
  .nn-subtask__item{
    padding:15px;
  }
  .uberAccordion .nn-task__title{
    padding:15px;
  }
}
@media screen and (max-width:1024px) {
  .nn-tabs__item{
    padding:15px 20px;
  }
}
@media screen and (max-width:992px) {
  .active .nn-card:before{
    height:70px !important;
  }
  .nn-card{
    &_nav{
      padding:10px 15px;
    }
  }
  .nn-task__title{
    font-size:16px;
  }
  .nn-b-info{
    font-size:12px;
  }
  .nn-txt_menu{
    right:20px;
    top:-10px;
  }
}
@media screen and (max-width:768px) {
  .nn-b-info{
    &_task{
      margin-right:0;
      margin-bottom:10px;
    }
  }
  .nn-b-col-between__item{
    flex-flow:row wrap;
  }
  .nn-b-tabs{
    font-size:$font-size-smaller;
  }
  .nn-button_header{
    font-size:14px;
    padding:10px 15px;
  }
}
@media screen and (max-width:540px) {
  .nn-b-icon{
    &_header, &_tabs{
      display:none;
    }
  }
  .nn-tabs__item{
    padding-top:20px;
    padding-bottom:10px;
  }
}
@media screen and (max-width:450px) {
  .nn-card{
    &_header{
      justify-content:center;
      &:first-child{
        margin-bottom:20px;
      }
    }

  }
  .nn-header{
    display:flex;
    flex-direction:column;
    &__item{
      width:100%;
    }
  }
}