#root{
  height:100%;
}
.active, ._attention{
  .icon{
    fill:$icon-color-active;
    &_tabs{
      fill:$icon-color-light;
    }
  }
  .title{
    color:$text-color-second;
  }
}
.active{
  .nn-card_nav{
    position:relative;
    &:before{
      background-color:red;
      border-radius:0 5px 5px 0;
      content:'';
      display:block;
      height:110px;
      left:0;
      position:absolute;
      top:0;
      width:5px;
    }
  }
}
.main{
  background-color:$bg-first;
  display:flex;
  justify-content:space-between;
  height:100%;
  padding:30px;
  &__item{
    height:100vh;
    overflow:scroll;
  }
}
.icon{
  fill:$icon-color-base;
  height:44px;
  width:44px;
  &_tabs{
    fill:$icon-color-light;
  }
}
.nice-select{
  background-color:transparent;
  border:1px solid $border-color-second;
  border-radius:20px;
  padding-left:50px;
  padding-right:37px;
  text-transform:uppercase;
  &.open .list{
    width:100%;
  }
  .current{
    font-weight:bold;
  }
  .selected{
    display:none;
  }
  &:after{
    color:#a6a6a6;
    right:20px;
  }
  &:before{
    background:url('../img/icons/bubbles3.svg') no-repeat center center;
    background-size:100% 100%;
    content:'';
    height:18px;
    left:20px;
    margin-top:-9px;
    /*opacity:.2;*/
    position:absolute;
    top:50%;
    width:18px;
  }
}
.tools{
  box-sizing:border-box;
  display:flex;
  flex:1;
  flex-direction:column;
  padding-bottom:30px;
  padding-top:30px;
  width:130px;
}
.title{
  font-size:$font-size-larger;
  &_activity{
    color:#909090;
    font-size:$font-size-base;
    b{
      color:$text-color-first;;
    }
  }
  &_date{
    text-transform:uppercase;
  }
  &_light{
    color:$text-color-first-light;
    opacity:.5;
  }
  &_nav{
    font-size:$font-size-smaller;
  }
}
.wr{
  &_avatar{
    margin:0 auto;
    padding:0 20px; }
  &_page{
    height:100vh;
    overflow:hidden;
  }
  &_select{
    background-color:red;
    position:absolute;
    top:0;
    right:0;
    width:128px;
    height:40px;
  }
}