#root{
  height:100%;
}
.active, ._attention{
  .icon{
    &_tabs{
      fill:$icon-color-light;
    }
    &_toggle{
      transform:rotate(-90deg);
      position:relative;
      right:2px;
    }
  }
}
.active{
  .nn-card_nav{
    position:relative;
    &:before{
      background-color:red;
      border-radius:0 5px 5px 0;
      content:'';
      display:block;
      height:110px;
      left:0;
      position:absolute;
      top:0;
      width:5px;
    }
  }
}
.b-link{
  background-color:$bg-first;
  border-top:1px solid #eaeaea;
  bottom:0;
  display:block;
  left:0;
  position:absolute;
  &_archive{
    padding:20px 30px;
    position: sticky;
    width:100%;
    z-index:100;
  }
  &__icon{
    color:#a6a6a6;
    display:inline-block;
    font-size:24px;
    font-weight:bold;
    padding-left:5px;
    transform:translateY(1px);
  }
}
:focus::-webkit-input-placeholder{
  color:transparent;
}
:focus::-moz-placeholder{
  color:transparent;
}
:focus:-moz-placeholder{
  color:transparent;
}
:focus:-ms-input-placeholder{
  color:transparent;
}
.icon{
  fill:$icon-color-base;
  height:44px;
  width:44px;
  &_tabs{
    fill:$icon-color-light;
  }
  &_toggle{
    transform:rotate(90deg);
  }
  &_subtask{
    fill:#a6a6a6;
    &:hover{
      fill:white;
    }

  }
  &_nav{
    fill:#4e5053;
    &._attention{
      fill:red;
    }
  }
}
.input{
  &_search{
    border:none;
    opacity:.5;
    text-overflow:ellipsis;
    &:focus{
      outline:none;
    }
    &:focus{
      content:"";
      opacity:1;
    }
  }
}
:focus::-webkit-input-placeholder{
  color:transparent;
}
:focus::-moz-placeholder{
  color:transparent;
}
:focus:-moz-placeholder{
  color:transparent;
}
:focus:-ms-input-placeholder{
  color:transparent;
}
.main{
  background-color:$bg-first;
  display:flex;
  justify-content:space-between;
  height:100vh;
  padding:30px;
  &__item{
    border:1px solid #dcdcdc;
    border-radius:5px;
    box-shadow:-1px 2px 4px 1px rgba(0, 0, 0, 0.11);
    overflow-x:hidden;
    overflow-y:scroll;
    &:first-child{
      flex:1;
      margin-right:20px;
    }
  }
}
.nice-select{
  background-color:transparent;
  border:1px solid $border-color-second;
  border-radius:20px;
  padding-left:50px;
  padding-right:37px;
  text-transform:uppercase;
  &.open .list{
    width:100%;
  }
  .current{
    font-weight:bold;
  }
  .selected{
    display:none;
  }
  &:after{
    color:#a6a6a6;
    right:20px;
  }
  &:before{
    background:url('/img/icons/bubbles3.svg') no-repeat center center;
    background-size:100% 100%;
    content:'';
    height:18px;
    left:20px;
    margin-top:-9px;
    opacity:.2;
    position:absolute;
    top:50%;
    width:18px;
  }
}
.progress{
  align-items:center;
  border:1px solid #c3c3c3;
  border-radius:5px;
  box-sizing:border-box;
  display:flex;
  flex-shrink:0;
  font-size:$font-size-larger;
  justify-content:center;
  height:32px;
  margin-right:15px;
  text-align:center;
  text-transform:uppercase;
  width:58px;
  &_ready{
    font-size:12px;
    padding:7px;
  }
  &_task{
    background-color:$icon-color-active;
    border-color:$bg-first;
    color:$text-color-second;
  }
}
.team{
  display:flex;
  &__item{
    position:relative;
  }
}
.title{
  font-size:$font-size-larger;
  &_activity{
    color:#909090;
    font-size:$font-size-base;
    b{
      color:$text-color-first;;
    }
  }
  &_date{
    text-transform:uppercase;
  }
  &_info{
    font-size:$font-size-small;
  }
  &_light{
    color:$text-color-first-light;
    opacity:.8;
  }
  &_nav{
    font-size:$font-size-smaller;
  }
  &_subtask{
    font-size:20px;
  }
  &_time{
    font-weight:normal;
  }
  &_ready{
    opacity:.5;
    position:relative;
    text-decoration:line-through;
    &:after{
      background:$bg-first url("../img/icons/done.svg") no-repeat center center;
      background-size:100% 100%;
      content:"";
      display:block;
      height:22px;
      left:100%;
      position:absolute;
      top:0;
      transform:translate(7px, 2px);
      width:17px;
    }
  }
  &_white{
    color:$text-color-second;
  }
}
.tools{
  background:#000 url("/img/bg-nav.JPG") repeat-y;
  box-sizing:border-box;
  display:flex;
  flex:1;
  flex-direction:column;
  padding-bottom:30px;
  padding-top:30px;
  width:130px;
}
.wr{
  &_avatar{
    margin:0 auto;
    padding:0 20px; }
  &_page{
    box-sizing:border-box;
    height:100vh;
    overflow:hidden;
  }
  &_select{
    background-color:red;
    position:absolute;
    top:0;
    right:0;
    width:128px;
    height:40px;
  }
  &_subtask{
    align-items:center;
    display:flex;
    flex-flow:row wrap;
    &__item{
      display:flex;
      &_right{
        justify-content:flex-end;
      }
    }
  }
  &_task-icons{
    display:flex;
    justify-content:flex-end;
    width:100%;
  }
  &_right{
    justify-content:flex-end;
  }
}