$bg-first:#fff;
$bg-second:#00C8FF;
$bg-third:#000;
$bg-fourth:#f3951b;
$bg-fifth:#F7F7F7;

$text-color-first:#4F4F4F;
$text-color-second:#B2B2B2;
$text-color-btn-first:#fff;
$text-color-btn-second:#00C8FF;

$title-color-first:#202020;
$title-color-second:#C2C2C2;
$title-color-third:#000000;

$font-family-first:'Abel', sans-serif;

$font-size-huge:58px;
$font-size-largest:32px;
$font-size-large:28px;
$font-size-larger:20px;
$font-size-base:16px;
$font-size-small:14px;