$bg-first:#fff;
$bg-second-dark:#adadad;
$bg-second:#f1f1f1;
$bg-second-light:#f8f8f8;


$icon-color-base: #505356;
$icon-color-light: #d5d5d5;
$icon-color-active: #ff503f;
$icon-color-success:#aacc4e;

$border-color: #d3d7da;

$text-color-first:#4b4b4b;
$text-color-first-light:#c1c1c1;
$text-color-second:#fff;
$text-color-third:#787878;

$font-family-first:'Noto Sans JP', sans-serif;

$font-size-large:24px;
$font-size-larger:22px;
$font-size-base:18px;
$font-size-smaller:16px;
$font-size-small:14px;
