footer.d-flex.justify-content-between.flex-wrap.flex-row.align-items-center
    div.text-white.border-0.pr-3.pl-3.pb-3.py-4.w-100
        div.nn-container
            div.row.mx-0
                div.col-12.col-sm-6.col-md-4.d-flex.flex-column.align-items-center.align-items-sm-start.justify-content-center.px-0
                    div.schedule.mb-3.d-none.d-sm-block
                        div.row
                            div.col-auto
                                div.schedule__item.schedule__item_day
                                    | пн-пт
                                    br
                                    | сб
                                    br
                                    | вс
                            div.col-auto
                                div.schedule__item
                                    | 9 - 18
                                    br
                                    | 10 - 16
                                    br
                                    | выходной
                    div.social-icons.mt-3.mt-sm-0.mb-3
                        a.social-icons__item.pr-2(href="https://www.instagram.com/pnevmo__garage/",target="_blank")
                            img(src="/dist/img/instagram-white.png")
                        a.social-icons__item.pr-2(href="https://vk.com/pnevmo_garage",target="_blank")
                            img(src="/dist/img/vk-white.PNG")
                        a.social-icons__item(href="https://www.youtube.com/channel/UCwBzK2RKXVOnmRWi3YFqX0A /",target="_blank")
                            img(src="/dist/img/youtube-white.png")
                    div.copirite.mt-3.mt-sm-0
                        small.
                            &#169; "Pnevmo Garage", 2014-2018
                div.col-12.col-sm-6.col-md-4.d-none.d-md-flex.justify-content-center.align-self-center
                    div.p-1.text-center
                        a.nav-link(href='/')
                            span главная
                        a.nav-link(href='/pages/components.html')
                            span комплектующие
                        a.nav-link(href='/pages/passenger.html')
                            span легковые
                        a.nav-link(href='/pages/answers.html')
                            span чаво
                        a.nav-link(href='/pages/contacts.html')
                            span контакты
                div.col-12.col-sm-6.col-md-4.col-6.d-flex.align-items-center.justify-content-center.justify-content-sm-end.wr_contacts.px-0
                    div.contacts.text-center.text-sm-right.h-100.d-flex.flex-column.justify-content-between.mb-3.mb-sm-0
                        div.contacts__item.mb-2.mb-sm-0
                            span.text-white.d-inline-block 095-166-00-59
                            br
                            span.text-white.d-inline-block 096-764-13-59
                            br
                            span.text-white.d-inline-block 073-764-13-59
                        div.contacts__item.contacts__item_email auto.service.family@gmail.com

