header
    div.nn-header
        div.nn-header__item
            div.nn-card.nn-card_header
                div.nn-card__item
                    div.nn-b-icon.nn-b-icon_header
                        svg(class="icon icon_header icon-spinner11")
                            use(xlink:href="img/symbol-defs.svg#icon-spinner11")
                div.nn-card__item
                    input(type="button",value="Dashboard",class="nn-button nn-button_header")
        div.nn-header__item
            div.nn-card.nn-card_header
                div.nn-card__item
                    div.nn-b-icon.nn-b-icon_header.nn-b-icon_select
                div.nn-card__item
                        select
                            option(data-display="5 user online")
                            option Mark P.
                            option Marvin S.
                            option Sebastian K.










