head
    meta(charset="UTF-8")
    title IDAP project page
    meta(name="format-detection" content="telephone=no")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="keywords" content="tasks, messenger")
    meta(name="description" content="All information in one tool!")
    link(rel="shortcut icon" href="../../dist/img/favicon.png" type="image/png")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" type="image/png")

    //link(rel="stylesheet" href="/dist/common.min.css")
    link(rel="stylesheet" href="/dev/css/normalize.css")
    link(rel="stylesheet" href="/dev/css/main.css")


