header
    div.nn-header
        div.nn-header__item
            div.nn-card
                div.nn-card__item
                    div.nn-b-icon.nn-b-icon_header
                        svg(class="icon icon_header icon-spinner11")
                            use(xlink:href="img/symbol-defs.svg#icon-spinner11")
                div.nn-card__item
                        input(type="button",value="Dashboard",class="nn-button")

        div.header__item
            div.online._relative
                div.wr_select.nn-button
                select
                    option._hide.icon_before(selected="selected") 5 user online
                    option  Max Pain
                    option Joe Crispy










