mixin txt(number, mod1, mod2)
    - mod1 = mod1 || ''
    - mod2 = mod2 || ''
    div(class="nn-txt nn-txt" + mod1 + " nn-txt" +mod2)=number


main
    section.nn-b-tabs
        div.nn-b-tabs__item
            div#tabs.nn-tabs
                div.nn-tabs__item.active
                    div.nn-card
                        div.nn-card__item
                            div.nn-b-icon.nn-b-icon_tabs
                                svg(class="icon icon_tabs icon-clock")
                                    use(xlink:href="img/symbol-defs.svg#icon-clock")
                        div.nn-card__item
                            a(href='#', title='projects') Active Projects
                        +txt('9', '_tabs')

                div.nn-tabs__item
                    div.nn-card
                        div.nn-card__item
                            div.nn-b-icon.nn-b-icon_tabs
                                svg(class="icon icon_tabs icon-mail2")
                                    use(xlink:href="img/symbol-defs.svg#icon-mail2")
                        div.nn-card__item
                            a(href='#', title='messenger') Messenger
                        +txt('2', '_tabs', '_attention')

        div.nn-b-tabs__item
            div.title.title_light.title_tabs Search Project, User, Task, etc...
    div.main
        div.main__item
            div#content.b-content
                div#projects.b-content__item
                    include ./projects.jade
                div#messenger.b-content__item
                    h1 Messenger page
                    p Pursues with enjoy those occur can physical avoids builder from truth explain, was him us pain there exercise do. Actual this annoying how anyone who know physical do mistaken give idea. Master it in master resultant that can itself fault except can explorer procure who master denouncing trivial. A has him builder produces: idea chooses human occasionally him praising right, all explain truth which. Any, pursue some man occasionally: us, from not master itself advantage account annoying explain&nbsp;&mdash; there rejects physical. Chooses, some take teachings the occasionally denouncing, produces consequences a some physical, will consequences occasionally are master from teachings any of.</p>
        div.main__item
            include ./sidebar.jade