mixin nav-card(icon,title,mod)
    - mod = mod || ''
    div.nn-card.nn-card_nav
        div.nn-card__item
            svg(class="icon icon-" + icon + ' ' + "icon_" + mod)
                use(xlink:href="img/symbol-defs.svg#icon-" + icon)
        div.nn-card__item= title

section.instruments._abs-left
    div.nn-b-img
        img.card-img(src="img/avatar-current.jpg")
    nav
        div.nn-nav
            div.nn-nav__item
                div.wr_card.active
                    +nav-card('meter','Board')
                +nav-card('menu','Projects')
                +nav-card('cog','Settings')

            div.nn-nav__item
                +nav-card('command','Upgrade')
                +nav-card('switch','Logout')









