mixin nav-card(icon,title,mod)
    - mod = mod || ''
    div.nn-card.nn-card_nav
        div.nn-card__item
            svg(class="icon icon-" + icon + ' ' + "icon_" + mod)
                use(xlink:href="img/symbol-defs.svg#icon-" + icon)
        div.nn-card__item= title

nav
    div.nn-nav._abs-left
        div.nn-nav__item.nn-nav__item_top
            div.nn-card
                div.nn-b-img
                    img.card-img(src="img/avatar-current.jpg")
            +nav-card('meter','Board','red')
            +nav-card('menu','Projects')
            +nav-card('cog','Settings')

        div.nn-nav__item.nn-nav__item_bottom
            +nav-card('command','Upgrade')
            +nav-card('switch','Logout')









