
nav
    div.nav.nav_abs-left nav15
        svg(class="icon icon-clock")
            use(xlink:href="img/symbol-defs.svg#icon-clock")
        //+icon('clock','_red')
        //svg(viewBox="0 0 100 100", class="icon shape-codepen")
            use(xlink="href=#shape-codepen")


