-
    var userList = [
    {
    name: "Mark P.",
    imgName: "mark-p",
    isOnline: true,
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30"
    },
    {
    name: "Marvin S.",
    imgName: "marvin-s",
    isOnline: true,
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30"
    },
    {
    name: "Sebastian K. ",
    imgName: "sebastian-k",
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30"
    },
    {
    name: "Mark P.",
    imgName: "mark-p",
    isOnline: true,
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30"
    },
    {
    name: "Philip O.",
    imgName: "philip-o",
    isOnline: true,
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30"
    },
    {
    name: "Benni I.",
    imgName: "benni-i",
    isOnline: true,
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30"
    },
    {
    name: "Mark P.",
    imgName: "mark-p",
    isOnline: true,
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30"
    },
    {
    name: "Marvin S.",
    imgName: "marvin-s",
    isOnline: true,
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30"
    },
    {
    name: "Sebastian K. ",
    imgName: "sebastian-k",
    isOnline: true,
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30"
    },
    {
    name: "Benni I.",
    imgName: "benni-i",
    isOnline: true,
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30"
    },
    {
    name: "Mark P.",
    imgName: "mark-p",
    isOnline: true,
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30"
    }
    ]

mixin task-card(task)
    div.nn-card.nn-card_task
        div.nn-card__item.nn-card__item_sidebar._relative
            div.nn-b-avatar
                img(src="img/avatar/" + user.imgName + ".jpg")
                if(user.isOnline === true)
                    div.nn-marker.nn-marker_online
                else
                    div.nn-marker

        div.nn-card__item.nn-card__item_sidebar
            div.b-activity
                div.b-activity__item.title.title_activity
                    b=user.name + " "
                    =user.message
                div.b-activity__item.title_light.title_date
                    b= user.date + " "
                    =user.time + " "
                    b PM

div.nn-projects
    div.nn-projects__item
        div.nn-b-search search
    div.nn-projects__item
        div.accordionContainer
            ul
                li.nn-task
                    div.nn-task__title Slide One
                    div.nn-task__content Content for slide one is rendered from here.
                li.nn-card
                    div.nn-task__title Slide Two
                    div.nn-task__content Content for slide two is rendered from here.
                li.nn-card
                    div.nn-task__title Slide Three
                    div.nn-task__content Content for slide three is rendered from here.
        //for user in userList
            +task-card(task)
