
script(src="/dev/js/jquery.min.js")
//script(src="/dev/js/bootstrap.min.js")
//script(src="/dev/js/modernizr.custom.js")
//script(src="/dev/js/slick.min.js")
script(src="/dev/js/main.js")

//script(src="/dist/common.min.js")