-
    var userList = [
    {
    name: "Mark P.",
    imgName: "mark-p",
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30"
    },
    {
    name: "Marvin S.",
    imgName: "marvin-s",
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30"
    },
    {
    name: "Sebastian K. ",
    imgName: "sebastian-k",
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30"
    },
    {
    name: "Mark P.",
    imgName: "mark-p",
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30"
    },
    {
    name: "Philip O.",
    imgName: "philip-o",
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30"
    },
    {
    name: "Benni I.",
    imgName: "benni-i",
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30"
    },
    {
    name: "Mark P.",
    imgName: "mark-p",
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30"
    },
    {
    name: "Marvin S.",
    imgName: "marvin-s",
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30"
    },
    {
    name: "Sebastian K. ",
    imgName: "sebastian-k",
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30"
    },
    {
    name: "Benni I.",
    imgName: "benni-i",
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30"
    },
    {
    name: "Mark P.",
    imgName: "mark-p",
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30"
    }
    ]

mixin user-card(user)
    div.nn-card.nn-card_sidebar
        div.nn-card__item
            div.nn-b-avatar
                img(src="img/avatar/" + user.imgName + ".jpg")
        div.nn-card__item
            div.b-activity
                div.b-activity__item.title.title_activity
                    b=user.name + " "
                    =user.message
                div.b-activity__item.title_light.title_date
                    b= user.date + " "
                    =user.time
                    b PM

sidebar
    div.nn-sidebar
        div.nn-sidebar__item
            for user in userList
                +user-card(user)
