-
    var userList = [
    {
    name: "Mark P.",
    imgName: "mark-p",
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30 PM"
    },
    {
    name: "Marvin S.",
    imgName: "marvin-s",
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30 PM"
    },
    {
    name: "Sebastian K. ",
    imgName: "sebastian-k",
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30 PM"
    },
    {
    name: "Mark P.",
    imgName: "mark-p",
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30 PM"
    },
    {
    name: "Philip O.",
    imgName: "philip-o",
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30 PM"
    },
    {
    name: "Benni I.",
    imgName: "benni-i",
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30 PM"
    },
    {
    name: "Mark P.",
    imgName: "mark-p",
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30 PM"
    },
    {
    name: "Marvin S.",
    imgName: "marvin-s",
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30 PM"
    },
    {
    name: "Sebastian K. ",
    imgName: "sebastian-k",
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30 PM"
    },
    {
    name: "Benni I.",
    imgName: "benni-i",
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30 PM"
    },
    {
    name: "Mark P.",
    imgName: "mark-p",
    message:"add an Image into Worlda",
    date: "today",
    time:"10:30 PM"
    }
    ]

mixin user-card(user)
    div.nn-card
        div.nn-card__item
            div.nn-b-icon.nn-b-icon_tabs
                img.card-img.auto__img(src="img/avatar/" + user.imgName + ".jpg")
        div.nn-card__item
            //div.title=user.name + " " + user.message
            div.b-activity
                div.b-activity__item
                    b=user.name + " "
                    =user.message
                div.b-activity__item= user.date + " " + user.time

sidebar
    div.nn-sidebar
        div.nn-sidebar__item
            for user in userList
                +user-card(user)
